## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reading Dataset

In [2]:
df = pd.read_csv("C:\\Users\\Nagasai\\Downloads\\winequality-red.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Finding the null values

In [4]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## Seperating Input and output variables

In [5]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [6]:
X

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [7]:
y

array([5, 5, 5, ..., 6, 5, 6], dtype=int64)

## Splitting training and test set

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [9]:
X_train

array([[ 7.  ,  0.43,  0.02, ...,  3.35,  0.81, 10.6 ],
       [ 6.8 ,  0.64,  0.03, ...,  3.36,  0.58, 10.4 ],
       [ 7.  ,  0.43,  0.36, ...,  3.34,  0.56,  9.2 ],
       ...,
       [ 7.4 ,  0.52,  0.13, ...,  3.43,  0.59, 10.8 ],
       [ 7.6 ,  0.39,  0.31, ...,  3.52,  0.65,  9.7 ],
       [10.5 ,  0.59,  0.49, ...,  3.3 ,  0.56,  9.6 ]])

In [10]:
y_train

array([6, 6, 6, ..., 6, 5, 4], dtype=int64)

In [11]:
y_test

array([5, 5, 6, 6, 6, 6, 5, 7, 6, 5, 7, 6, 6, 6, 6, 6, 5, 3, 7, 6, 5, 7,
       5, 5, 7, 7, 6, 5, 5, 4, 6, 5, 7, 5, 6, 5, 7, 6, 6, 5, 5, 6, 6, 5,
       6, 6, 6, 6, 5, 6, 5, 5, 6, 6, 5, 5, 6, 6, 7, 6, 6, 5, 7, 5, 5, 5,
       4, 6, 5, 5, 5, 7, 6, 5, 6, 7, 5, 4, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6,
       6, 6, 5, 5, 4, 6, 5, 5, 4, 6, 5, 5, 6, 5, 6, 4, 5, 5, 5, 6, 6, 5,
       7, 5, 5, 5, 5, 6, 5, 5, 5, 6, 6, 6, 5, 6, 6, 5, 7, 5, 5, 6, 6, 5,
       5, 6, 7, 6, 7, 6, 7, 6, 6, 6, 6, 5, 6, 7, 6, 6, 7, 6, 7, 6, 5, 5,
       6, 6, 7, 5, 5, 5, 5, 5, 6, 5, 6, 5, 6, 7, 6, 5, 6, 5, 6, 6, 7, 6,
       5, 6, 4, 6, 6, 7, 5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 4, 5, 5, 6,
       5, 6, 6, 5, 6, 6, 6, 5, 6, 5, 5, 5, 7, 5, 5, 6, 6, 5, 5, 5, 5, 5,
       5, 6, 7, 7, 6, 7, 5, 6, 7, 5, 5, 5, 5, 7, 6, 6, 5, 5, 6, 5, 6, 6,
       6, 5, 6, 5, 5, 6, 6, 5, 6, 8, 7, 5, 5, 6, 6, 6, 5, 6, 6, 6, 5, 7,
       5, 5, 6, 7, 6, 7, 6, 7, 6, 5, 5, 7, 5, 5, 5, 5, 6, 7, 6, 6, 5, 5,
       6, 7, 7, 6, 6, 5, 6, 5, 5, 7, 5, 5, 5, 6, 5, 6, 4, 5, 7, 5, 5, 6,
       6, 5, 5, 6, 5, 6, 5, 7, 6, 6, 7, 5], dtype=int64)

In [12]:
X_test

array([[9.10e+00, 5.20e-01, 3.30e-01, ..., 3.24e+00, 6.00e-01, 9.30e+00],
       [7.70e+00, 6.70e-01, 2.30e-01, ..., 3.32e+00, 4.80e-01, 9.50e+00],
       [7.90e+00, 2.90e-01, 4.90e-01, ..., 3.31e+00, 6.70e-01, 1.01e+01],
       ...,
       [1.04e+01, 4.10e-01, 5.50e-01, ..., 3.15e+00, 8.90e-01, 9.90e+00],
       [7.30e+00, 5.50e-01, 1.00e-02, ..., 3.35e+00, 5.80e-01, 1.10e+01],
       [6.70e+00, 5.40e-01, 1.30e-01, ..., 3.61e+00, 6.40e-01, 9.80e+00]])

## Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
X_train

array([[-0.74688909, -0.53985105, -1.28277187, ...,  0.24749591,
         0.86793172,  0.16009247],
       [-0.86151934,  0.61372383, -1.23116564, ...,  0.31215017,
        -0.46275819, -0.02715789],
       [-0.74688909, -0.53985105,  0.4718399 , ...,  0.18284165,
        -0.57847036, -1.15066006],
       ...,
       [-0.5176286 , -0.04546182, -0.71510335, ...,  0.76473   ,
        -0.40490211,  0.34734283],
       [-0.40299836, -0.7595796 ,  0.21380876, ...,  1.34661835,
        -0.05776561, -0.68253415],
       [ 1.2591402 ,  0.33906314,  1.14272087, ..., -0.0757754 ,
        -0.57847036, -0.77615934]])

## Training LinearRegression Model

In [15]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = regressor.predict(X_test)
y_pred

array([5.30714421, 4.89639949, 5.7226375 , 5.33772301, 5.83503123,
       5.39979135, 5.31682825, 5.58469035, 5.49833798, 5.88865814,
       6.37875093, 5.72212269, 6.10713876, 5.49105403, 6.23454807,
       5.7330844 , 5.12670757, 5.1340664 , 6.02577185, 4.93571796,
       5.26610062, 6.23984149, 5.36387456, 5.06497359, 6.40797944,
       5.71707422, 5.2718928 , 5.18675661, 4.80688573, 4.98074042,
       5.43095944, 5.29712367, 6.78282985, 5.04720013, 6.67335758,
       5.46164648, 6.46756805, 5.60868643, 6.43957716, 5.21662627,
       5.43386353, 5.86528701, 6.48330236, 6.15836299, 6.01972056,
       5.59432241, 5.5407778 , 6.04476428, 5.12611687, 5.96939685,
       4.85614489, 5.11271907, 6.09458532, 4.9788732 , 5.5760863 ,
       5.10745891, 5.3171209 , 5.46295596, 6.43768771, 5.79653858,
       5.45777218, 5.90671049, 6.49537555, 5.79692939, 5.38202311,
       5.91320706, 5.47197487, 5.42524846, 5.25723555, 5.61991468,
       4.87149577, 6.14028849, 5.76415249, 5.38202311, 5.36466955,
       5.85530077, 5.44553566, 5.62519513, 5.31181838, 5.92823447,
       5.23287207, 5.57484313, 5.54305151, 5.71601343, 5.71601343,
       5.42276442, 5.34075354, 6.5606139 , 5.79364865, 6.21271279,
       6.07303656, 5.19805467, 5.33491149, 5.21412342, 4.97874901,
       5.56721811, 4.845577  , 6.38280957, 5.85735244, 5.68209237,
       5.06370109, 5.95688147, 5.23287207, 5.77046422, 5.63290956,
       5.30852364, 5.59560857, 5.62140066, 5.38999089, 5.83814142,
       6.68252797, 5.15417802, 4.80110892, 5.18613346, 5.0808743 ,
       5.42370112, 5.02256018, 5.16403816, 5.63502965, 5.32787692,
       5.90152707, 5.97300853, 5.85614822, 4.97814967, 4.76489326,
       5.02026213, 6.29814597, 5.40239971, 5.66788666, 5.74535461,
       5.19651437, 4.98542742, 4.81398762, 5.37525192, 6.1959229 ,
       5.67217986, 6.90827791, 5.57247363, 6.02413396, 6.50758472,
       5.73971446, 5.19460784, 6.70533934, 5.02812895, 6.19554693,
       6.06574164, 5.55268344, 5.65906808, 6.32016788, 6.03859204,
       5.58559592, 6.27480924, 5.24663312, 5.21415279, 5.81839994,
       5.15257943, 5.49516256, 5.17852202, 6.20188692, 5.04407489,
       5.12303234, 5.11173908, 6.47150572, 4.85520011, 5.52339764,
       5.07648709, 5.32191678, 6.0695593 , 5.71960462, 4.78549302,
       5.73299849, 6.01986735, 5.99944234, 4.98398719, 6.06626949,
       6.39982175, 5.39413028, 5.86583619, 6.09723941, 5.59649839,
       5.70872345, 6.44710148, 5.36724397, 5.76835264, 5.62439606,
       5.09374326, 5.70275954, 5.96228266, 5.64242819, 5.30268901,
       5.68926469, 6.22855078, 4.94580036, 4.6092421 , 5.91364135,
       5.21662627, 5.44040535, 5.45063865, 5.69037948, 5.64068921,
       5.78041972, 5.21452969, 5.36582871, 5.33772301, 5.32761656,
       5.40606017, 6.49382523, 5.73035926, 5.29160276, 5.75324123,
       6.61562946, 5.31682825, 5.02603361, 5.58910258, 5.61835822,
       5.21638249, 5.66097786, 5.65696398, 5.4311545 , 5.11372688,
       5.32779507, 6.03467948, 6.4626643 , 6.14400879, 5.21306443,
       6.25125462, 5.35746369, 5.81138581, 5.57376912, 5.79692939,
       5.68480376, 5.32172734, 5.38710207, 5.97867631, 5.90837388,
       5.12658666, 5.02222685, 4.75094025, 5.01655831, 5.23306403,
       6.1200364 , 5.92527566, 5.4108637 , 5.58770587, 5.72283866,
       5.89681139, 5.02154294, 6.29347431, 5.80563655, 5.21493557,
       5.64782867, 6.23584847, 6.16966434, 5.26916519, 5.12616969,
       6.02541959, 6.77184049, 5.89710072, 5.38148673, 6.21285162,
       5.59947745, 5.32054424, 5.20895215, 5.32008374, 5.01559589,
       4.87505313, 6.42322606, 6.3514014 , 5.28931725, 6.34150141,
       5.3305792 , 6.26676249, 5.94571276, 6.22232067, 5.40833798,
       6.42464948, 5.45740603, 5.72185566, 5.47847   , 5.08881168,
       5.85037011, 6.76894871, 5.68633122, 5.4593407 , 5.48315453,
       5.10191845, 6.02413784, 5.97320074, 5.55910226, 5.78031839,
       6.20201997, 5.18448585, 5.73299849, 5.40876021, 4.96906935,
       6.41251151, 5.59310256, 5.52528081, 5.27417354, 5.42500681,
       5.66944172, 6.07574045, 4.96734507, 5.01195184, 6.40694363,
       6.2918983 , 5.53669845, 6.15232167, 5.14822175, 5.4311545 ,
       5.41290084, 5.62091483, 5.31859615, 5.82600471, 4.94152636,
       6.48272697, 5.23595828, 5.85683022, 5.77105502, 5.30878072])

## Evaluating performance

In [17]:
from sklearn.metrics import r2_score
print(r2_score(y_test, regressor.predict(X_test)))

0.3075605103858339

## Cross Validation

In [18]:
from sklearn.model_selection import cross_val_score
cross_val_score(regressor,X,y,scoring = 'r2',cv = 5)

array([0.13200871, 0.31858135, 0.34955348, 0.369145  , 0.2809196 ])